.play-icon {
  font-size: xx-large;
  color: white;
  width: auto;
  height: auto;
}

.sample {
  color: #000;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
