<div class="w-3/4 bg-gray-100 p-6 dark:bg-slate-800 rounded-lg shadow-lg" style="width: 1012px; height: 682px;">
    <div class="container--vocabActivityWrap">
        <div *ngIf="!showEndScreen">
            <div class="p-4" *ngIf="!showActivity">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" [(ngModel)]="inputText" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter 5 Words (ex. car, land, kick, roar, cat)" required>
                    <div class="flex space-x-2 absolute bottom-2.5 end-2.5">
                        <button type="submit" (click)="showWord(inputText)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                        <button type="submit" (click)="showRandomWords()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                          <span *ngIf="!showLoading">Random</span>
                          <mat-spinner *ngIf="showLoading" color="accent" diameter="20" class="ml-2"></mat-spinner>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full p-4" style="display: flex;justify-content: space-between;" *ngIf="showActivity">
                <div class="w-5/12" style="margin: 16px 8px;">
                    <div class="mdl-grid"
                        style="display: flex; position: relative; align-items: center; justify-content: flex-start; z-index:100; margin: 10px"
                        *ngFor="let word of words; index as i" id="wordDiv{{i}}">
                        <div cdkDropList [cdkDropListConnectedTo]="droplist">
                            <div cdkDrag [cdkDragData]="word" (cdkDragMoved)="moved($event,i)" (cdkDragStarted)="dragStarted($event)"
                                (cdkDropListDropped)="itemDropped($event)" [cdkDragDisabled]="disableDrag">
                                <div class="mdl-cell mdl-cell--12-col dark:bg-gray-700 dark:text-white container--vocabWord" id="wordStatus">
                                    <span class="material-icons">drag_indicator</span>
                                    <label>{{word}}</label>
                                </div>
                                <div *cdkDragPlaceholder class="field-placeholder"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-7/12" style="position: relative;">
                    <div style="z-index: -1;" cdkDropList cdkDropListSortingDisabled="true" id="drop-list{{i}}"
                        (cdkDropListDropped)="itemDropped($event)" *ngFor="let meaning of wordsData; index as i">
                        <div class="mdl-grid container--wordDefinition dark:bg-gray-700 dark:text-white" id="targetMe">
                            <div class="mdl-cell mdl-cell--12-col">
                                <label class="mdl-typography--subhead">{{meaning.meaning}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showEndScreen">
            <end-screen></end-screen>
        </div>
    </div>
</div>
